/*
 * -------------------------------------------------
 *  cov-parq Nextflow config file
 * -------------------------------------------------
 * Defaults for the parquet-per-subdir workflow.
 */

includeConfig 'conf/base.config'

profiles {
  tartu_hpc {
    includeConfig 'conf/tartu_hpc.config'
  }
}

process.shell = ['/bin/bash', '-euo', 'pipefail']
