/*
 * -------------------------------------------------
 *  cov-parq Nextflow base config file
 * -------------------------------------------------
 * Base config for the parquet-per-subdir pipeline.
 * Runs in `local` mode by default. Use -c conf/tartu_hpc.config
 * (after this) for SLURM execution on Tartu HPC.
 */

process {
  cpus = { 2 * task.attempt }
  memory = { 8.GB * task.attempt }
  time = { 4.h * task.attempt }

  maxRetries = 3
  maxErrors = '-1'
  errorStrategy = "retry"

  withLabel:process_low {
    cpus = { 1 * task.attempt }
    memory = { 5.GB * task.attempt }
    time = { 35.m * task.attempt }
  }

  withName: RUN_PARQUET {
    memory = { check_max( 360.GB * task.attempt, 'memory' ) }
    cpus = { check_max( 32 * task.attempt, 'cpus' ) }
    time = { check_max( 72.h * task.attempt, 'time' ) } 
  }
}



params {
  input_base = '/gpfs/helios/projects/eQTLCatalogue/r8_run_folders/rnaseq'
  max_memory = 320.GB
  max_cpus = 64
  max_time = 240.h
}

