/*
 * -------------------------------------------------
 *  cov-parq Nextflow base config file
 * -------------------------------------------------
 * Base config for the parquet-per-subdir pipeline.
 * Runs in `local` mode by default. Use -c conf/tartu_hpc.config
 * (after this) for SLURM execution on Tartu HPC.
 */

process {
  cpus = { 2 * task.attempt }
  memory = { 8.GB * task.attempt }
  time = { 4.h * task.attempt }

  maxRetries = 1
  maxErrors = '-1'
  errorStrategy = "retry"

  withLabel:process_low {
    cpus = { 1 * task.attempt }
    memory = { 5.GB * task.attempt }
    time = { 35.m * task.attempt }
  }

  withName: RUN_PARQUET {
    cpus = 16
    memory = 16.GB
    time = 8.h
  }
}

params {
  input_base = '/gpfs/helios/projects/eQTLCatalogue/r8_run_folders/rnaseq'
  num_processes = 16
}
